@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #ffc8dd;
  --main-color-shade: #ffafcc;
  --secondary-color: #ffafcc;
  --tertiary-color: #bde0fe;
  --quaternary-color: #a2d2ff;
  --purple-color: #cdb4db;

  /* secondary colors */
  --main-dark-blue: #0b132b;
  --secondar-blue: #10131f;
  --secondary-light-grey: #3a506b;
  --accent-teal: #5bc0be;
  --accent-teal-light: #6fffe9;

  /* dark and light colors */
  --dark-color: rgb(15, 15, 15);
  --light-color: #f3f4f6;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* hide mobile header */
.fixed-header-bar {
  display: none;
}

.header-container {
  padding: 0;
  background: var(--secondar-blue);
}

.nav-container {
  justify-content: space-evenly;
}

#home > nav > ul {
  gap: 3em;
}

.nav-container a {
  color: var(--light-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.nav-container a:hover {
  color: var(--main-color);
}

/* main content */

.main-section-container {
  margin-bottom: 0;
}

.main--section-image {
  background-image: url(images/IMG_5483.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  bottom: 150px;
  z-index: -1;
}

.main-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--light-color);
  text-align: center;
  margin: 0;
  animation: changeOpacity 2s ease-in-out;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Music Section */
.music-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* About Us Styling */
.about-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}

/* Show Section */
.shows-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.article-class {
  text-align: center;
}

/* Contact Section */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 0.5em;
}

.button-class {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  margin: 10px;
  width: 200px;
}

/* footer */
.footer-container {
  background: var(--dark-color);
  padding: 0;
}

.footer-nav {
  justify-content: center;
}

.footer-nav a {
  color: var(--light-color);
  font-size: 2rem;
  font-weight: 600;
}

.footer-nav a:hover {
  color: var(--main-color);
}

.band__footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.band__footer-container a {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--light-color);
  text-align: center;
  margin: 0;
}

.band__footer-container a:hover {
  color: var(--main-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* header */
  .fixed-header-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-light-grey);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .mobile-h1 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--light-color);
  }

  .nav-toggle {
    padding: 1em;
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    z-index: 10000;
    color: var(--light-color);
    font-size: 1.5rem;
  }

  .nav-open .nav-container {
    transform: translateY(0);
  }

  /* nav */
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondar-blue);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }

  #home > nav > ul {
    gap: 0;
  }

  .nav-container,
  .mobile-nav-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-container a {
    font-size: 2rem;
    margin: 10px;
  }

  /* main content */
  .main-section-container {
    margin-top: 3em;
  }
  .main-title {
    font-size: 3.5rem;
    padding: 20px;
  }

  .main--section-image {
    background-image: url(images/IMG_8649.jpg);
    bottom: 200px;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-us-content {
    text-align: center;
  }

  .shows-title {
    font-size: 2rem;
  }

  .contact-title {
    font-size: 2rem;
  }

  .footer-container {
    padding: 10px;
  }
}
